<div class="modal-container">
  <div class="modal-header">
    <mat-icon class="status-icon" [ngClass]="iconClass">{{ dialogIcon }}</mat-icon>
    <h2 mat-dialog-title>{{ dialogTitle }}</h2>
  </div>

  <mat-dialog-content>
    <p class="message">
      {{ primaryMessage }}
    </p>
    <p class="submessage">
      {{ secondaryMessage }}
    </p>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button mat-button type="button" (click)="close()">Cerrar</button>
    <button mat-raised-button color="primary" type="button" (click)="navigateToStatus()">
      Ver estado
    </button>
  </mat-dialog-actions>
</div>
